@charset 'UTF-8';
@font-face {
  font-family: 'Noto Sans SC';
  src: url("/fonts/NotoSansSC/NotoSansSC-Thin.otf") format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url("/fonts/NotoSansSC/NotoSansSC-Light.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url("/fonts/NotoSansSC/NotoSansSC-Regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url("/fonts/NotoSansSC/NotoSansSC-Medium.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url("/fonts/NotoSansSC/NotoSansSC-Bold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans SC';
  src: url("/fonts/NotoSansSC/NotoSansSC-Black.otf") format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerif/NotoSerif-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerif/NotoSerif-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerif/NotoSerif-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerif/NotoSerif-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerifSC/NotoSerifSC-ExtraLight.otf") format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerifSC/NotoSerifSC-Light.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerifSC/NotoSerifSC-Regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerifSC/NotoSerifSC-Medium.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerifSC/NotoSerifSC-SemiBold.otf") format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerifSC/NotoSerifSC-Bold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/NotoSerifSC/NotoSerifSC-Black.otf") format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway/Raleway-VariableFont_wght.ttf") format('truetype');
  font-variation-settings: 'wght' 300;
}
